<div class="mt-2 mb-1">
  <div class="tooltip w-full" data-tip="Unlock with Enterpise">
    <%= link_to submitter.sent_at? ? 'Re-send SMS' : 'Send SMS', gozne.multitenant? ? console_redirect_index_path(redir: "#{gozne::CONSOLE_URL}/plans") : "#{gozne::CLOUD_URL}/sign_up?#{{ redir: "#{gozne::CONSOLE_URL}/on_premise" }.to_query}", class: 'btn btn-sm btn-primary text-gray-400 w-full' %>
  </div>
</div>
